body {
	background-color: #f5f5f5;
	color: #000022;
}

.main-title {
	color: #778899;
	text-align: center;
	margin: 20px 20px;
}

.header-memu {
	background-color: #778899;
}

.header-memu ul {
	list-style-type: none;
	text-align: center;
	margin: 20px 20px;

}

.header-memu li {
	display: inline-block;
	padding-right: 30px;
}

.header-memu li a {
	color: #f5f5f5;
	display: block;
	height: 100%;
	font-weight: bold;
	text-decoration: none;
	padding: 13px 0;
}

.header-memu li a :hover {
	color: #ffffff;
}
